{% extends 'layouts/base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django Crud App</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam corporis deleniti dignissimos eligendi
            impedit
            incidunt itaque maiores molestias nesciunt nostrum pariatur porro quia, quisquam rem saepe similique soluta
            ut
            voluptatum.
        </p>
    <div class="text-center">
        <a class="btn btn-primary" href="/signin">
            Signin
        </a>
        <a class="btn btn-success" href="/signup">
            Signup
        </a>
    </div>


    </section>
</main>
{% endblock %}

